---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SEO } from "../data/seo";
---
<BaseLayout title={SEO.home.title} description={SEO.home.description}>
  <h1>shell ok</h1>
</BaseLayout>
